* {}

body {
  height:100vh;
  padding: 0px;
  margin: 0px;
}

/* header-section */

.header-class {
  justify-content: space-around;
  display: flex;
  background: rgba(229, 84, 115, 0.10);
  margin-top: 0px;
  align-items: center;
}

.heading {


  flex-direction: column;
  color: #272727;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  align-items: center;
  margin-bottom: 80px;
  width: 708px;
  flex-direction: column;
  flex-shrink: 0;

}
.heading-para{
  display: flex;      
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: 634px;
  flex-direction: column;
  flex-shrink: 0;
}
.heading-button{
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #E55473;
  color: #FFF;
  font-family: Lato,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

/* section--01 */
/* featured paragraph */
.featured{
  margin-top: 160px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.section01-header{
  color: #272727;
      text-align: center;
      font-family: Lato,sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 650;
      line-height: normal;
}
.section01-para{
  display: flex;
      width: 594px;
      flex-direction: column;
      flex-shrink: 0;
      color: rgba(39, 39, 39, 0.60);
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 650px;   
    margin-bottom: 30px;
}
/* section--02 */
.section02{
  margin-top: 200px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}
.right-div{
  margin-left: 200px;
}
.left-div{
  margin-right: 330px;
}
.h2design{
  color: #272727;
  font-family: Lato,sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-left: 40px;
}
.span-design{
  color: #E55473;
}
.section-description{

  color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 594px;
flex-direction: column;
flex-shrink: 0;
}
.button-container{
  display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
color: #FFF;
margin-left: 200px;
}

 /* section-2.2 */

/* 3featured-flowers */
.box-container{
  display: flex;
  justify-content: space-around;
  margin: 30px 240px 100px;
  gap: 20px;
}

.box01{
  height: 538px;
  width: 464px;
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}

.box2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 538px;
  width: 464px;
}

.box3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 538px;
  width: 464px;

}
.anchor{
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight:  700px;
  line-height: 35px;
  margin: 25px;
  text-decoration-line: underline;
}
.box-img{
padding: 110px 78px 0px 76px;
}
.box-img2{
padding: 117px 47px 51px 47px;
}
.box-img3{
padding: 67px 75px 0px 75px;
}
/* section03 */
/* instagram-section */
.description03{
  text-align: center;
  }
  .h2-instagram{
    color: #272727;
    text-align: center;
    font-family: Lato,sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
  }
  .para-design-03{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    justify-content: space-around;
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 670px;
    width: 594px;
    flex-direction: column;
    
  }
  .instagram-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 240px 0px;
  }
  
  .box {
    height: 396px;
    width: 342px;
    padding: 14px;
  }

/* section4 */
.subscribe-container {
  background-image: url(/Flower/Rectangle\ 9.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  margin: 128px 240px;
}

.promo {
  color: #272727;
  padding-top: 50px;
  font-family: Lato,sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
}

.coupon {
  color: rgba(39, 39, 39, 0.60);
  padding-bottom: 48px;
  font-family: Lato,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.input-name {
  width: 700px;
  height: 64px;
  font-family: Lato,sans-serif;
  color: #272727;
  border-radius: 8px;
  background: #FFF;
  border: none;
  color: rgba(39, 39, 39, 0.60);
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;

}

.subsribe {
  width: 150px;
  height: 64px;
  color: white;
  border-radius: 8px;
  background: #E55473;
  border: none;
  margin-left: 16px;
  font-size: 16px;}
 



/* foooter */
 .shop{
  width: 1922px;
height: 449px;

  background-color: #111010;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.para-1 {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-family: Lato,sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.para-2{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato,sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.flower-shop{
  color: #E55473;
font-family: Lato,sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 750;
line-height: normal;
}
.color-change{
  color: white;
}